
<div class=" me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" style="background-color:rgba(0,0,0,.8);">
    <div class="my-3 py-3"> 
        <h2 class="display-5 text-white">We got your Answer, Please Wait until all players have Answered!</h2> 
    </div>
</div>