<div class="px-4 py-5 my-5 text-center"> 
    <img class="d-block mx-auto mb-4" src="/images/cropped-Black-double-circle.transparent.png" alt="" width="200" height="200"> 
    <h1 class="display-5 fw-bold text-body-emphasis text-white">Natalie &amp; Daniel's Very Cozy Christmukkah 2025</h1> 
    <div class="col-lg-6 mx-auto"> 
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <form action="/lobby/join/" method="GET">
                <input type="submit" class="btn btn-primary btn-lg px-4 gap-3" id="startGameBtn" value="Join Game"/> 
            </form>  
        </div> 
    </div> 
</div>
