<div class="px-4 py-5 my-5 text-center"> 
    <h2 class="display-5 fw-bold text-body-emphasis text-white">Ho-Ho-Hoax.com</h2>
    <img class="d-block mx-auto mb-4" src="/images/cbe8770e-b3fe-4ba2-a4c0-58420eef58d0.png" alt="" width="200" > 
    <div class="col-lg-6 mx-auto"> 
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <form action="/lobby/join/" method="GET" class="form">
                <input type="submit" class="btn btn-primary btn-lg px-4 gap-3" id="startGameBtn" value="Join Game"/> 
            </form>  
        </div> 
    </div> 
</div>
