body{
    background-image: url('/images/1215b2c3-202b-4e9a-8a64-83f271fdf9ac.png');
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center center;
}            

