body{
    background-image: url('/images/1215b2c3-202b-4e9a-8a64-83f271fdf9ac.png');
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center center;
}            

.card-text-custom{
    background-color: rgba(0,0,0,.7);
}
.card-text-custom-selected{
    background-color: #71e953b3 !important;
}
.card-text-custom-selectable:hover{
    background-color: #1c6409b3 !important;
}

#team-list td{
    text-transform: uppercase;
    font-size: 14pt;
}
.higlighted-team{
    color:rgba(241, 68, 64, 0.8) !important;
}

.answer-text{
    text-transform: uppercase;
}

table td{
    text-transform: uppercase;
    font-weight: bold;
}