body{
    background-image: url('/images/1215b2c3-202b-4e9a-8a64-83f271fdf9ac.png');
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center center;
}            

.card-text-custom{
    background-color: rgba(0,0,0,.7);
}

#team-list td{
    text-transform: capitalize;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 14pt;
}
.higlighted-team{
    color:rgba(241, 68, 64, 0.8);
}